<div class = "post-grid">
  {{ range .Paginator.Pages }}
  <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
  <div class = "post-image" style = "background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url({{ .Params.image | relURL }})">
    
      
        <img class = "gi" src = "/climateandsociety/images/play_icon.png" width = "85">
        <h4 class = "gt"><b>{{ upper .Title }}</b></h4>
        <div class="w3-animate-opacity summary">
        <h4 class = "gt summary">{{ .Params.tagline }}</h4>
        </div>
    
  </div>
  </a>
{{ end }}
  </div>